# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc

# dependencies
/app/etc
/generated
/node_modules
/pub/static
/pub/media/captcha
/pub/media/catalog
/pub/media/customer
/pub/media/downloadable
/pub/media/lof
/pub/media/magefan_blog
/pub/media/magestore
/pub/media/magestore_imageresizer
/pub/media/tmp
/pub/errors
/var

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# System Files
.DS_Store
Thumbs.db
