<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <app_facebookpixel>
            <general>
                <enabled>0</enabled>
                <pixel_id>0123456789</pixel_id>
            </general>
        </app_facebookpixel>
    </default>
</config>
