.fotorama {
    min-width: 1px;
    padding: .2rem;
    overflow: hidden;

    &--fullscreen {
        @extend .fotorama-gpu;
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        margin: 0 !important;
        background: $color-white;
        z-index: 999 !important;

        .fotorama__nav-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 999;
        }
    }

    &--hidden {
        @extend .fotorama-hidden;
    }
}
