button {
    &:active {
        @include lib-css(box-shadow, $button__shadow);
    }
}

a.action.primary {
    @include lib-link-as-button();
}

.action.primary {
    color: $color-white;
    display: inline-block;
    padding: .06rem .1rem;
    cursor: pointer;
    background-color: $button-color;
    border: 2px solid $button-color;
    text-transform: uppercase;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: linear;

    span {
        font-family: $font-family_light;
        font-size: .15rem;
        display: inline-block;
        vertical-align: middle;
    }

    &:hover {
        color: $button-color;
        background-color: transparent;
    }
}

.actions-primary {
    .action.tocart {
        color: $orange-color;
        width: 1.8rem;
        background-color: transparent;
        border-color: $orange-color;
    }
}

.action.basic {
    color: $color-white;
    width: 1.8rem;
    display: inline-block;
    padding: .07rem .15rem;
    cursor: pointer;
    background-color: $orange-color;
    border: 2px solid $orange-color;
    text-transform: uppercase;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: linear;

    span {
        display: inline-block;
        margin-left: .05rem;
        vertical-align: middle;
    }

    &:hover {
        color: $orange-color;
        background-color: transparent;
    }
}

.action.bundle {
    background-color: $basic-color;
    border: 2px solid $basic-color;

    &:hover {
        color: $basic-color;
        background-color: transparent;
    }
}

.btn-green {
    @include lib-css(color, $color-white);
    @include lib-css(background-color, $button-color);
    @include lib-css(border, 2px solid $button-color);
    @include lib-css(text-transform, uppercase);

    &:hover {
        opacity: .8;
        filter: alpha(opacity=80);
    }
}

.opc-estimated-wrapper {
    .showcart {
        color: $color-white;
        display: inline-block;
        padding: .05rem .1rem;
        cursor: pointer;
        border: 0;
        background: transparent;
    }
}

.weltpixel-quickview {
    @include lib-css(text-transform, uppercase);
}