<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
	<menu>
		<add id="Lof_AjaxScroll::ajaxscroll" title="Ajax Scroll" module="Lof_AjaxScroll"  sortOrder="25" resource="Lof_AjaxScroll::ajaxscroll" parent="Lof_All::lof_all"/>  
		<add id="Lof_AjaxScroll::ajaxscroll_settings" title="Configuration" module="Lof_AjaxScroll" sortOrder="10" action="adminhtml/system_config/edit/section/lofajaxscroll" resource="Lof_AjaxScroll::settings" parent="Lof_AjaxScroll::ajaxscroll"/>
	</menu>
</config>