<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="footer_category" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Footer Category</label>
                <field id="category_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Footer Category Id</label>
                    <comment><![CDATA[Shop Category Id]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>